CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=n
CONFIG_ROBOT_WIFI_SSID="evil rats crazily squeak"
CONFIG_ROBOT_WIFI_PASSWORD="66666666"
CONFIG_ROBOT_SERVER_IP="10.123.59.216"
CONFIG_ROBOT_SERVER_PORT=5005
